{% extends 'core/base/base_list.html' %}



{% block table %}
    {% load bootstrap3 %}


    <a href="{% url 'examination_create_view' %}" class="btn btn-info pull-left">
        {% bootstrap_icon "plus" %} Добавить
    </a>

    </br>
    </br>

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Название</th>
                <th>Вопросов</th>
            </tr>
        </thead>
    <tbody>

    {% for examination in examinations %}

        <tr>
            <td>
                <a href="{% url 'examination_update_view' examination.id %}">{{ examination.name }}</a>
            </td>
            <td>
                {{ examination.questions.count }}
            </td>
        </tr>

    {% endfor %}
    </tbody>
    </table>

{% endblock table %}