{% extends 'core/base/base.html' %}

{% block content %}

    {% load core %}

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Дата прохождения</th>
                <th>Кол-во баллов</th>
            </tr>
        </thead>
    <tbody>

        <tr>

            <td>
                {{ user_examination.finished_at }}
            </td>
            <td>
                {{ user_examination.points }}
            </td>
        </tr>

    </tbody>
    </table>
    <hr/>


    <h3>Ответы пользователя</h3>

    {% for question in question_log %}
        <hr/>
        <h5>{{ question.question_data.body }}</h5>
        {% for answer in answer_log|get_by_key:question.id %}
            {{ forloop.counter }}) {{ answer.answer_data.body }} - <b style="color: #00dd1c">{{ answer.answer.points }} баллов.</b>
            </br>
        {% endfor %}
    {% endfor %}

    </br>

    <h3>Письменные ответы пользователя</h3>

    {% for answer in text_answers %}
        <hr/>
        <h5>{{ answer.text_question.body }}</h5>
        {{ answer.body }} - <b style="color: #00dd1c">{{ answer.points }} баллов.</b>
    {% endfor %}

    <hr/>

{% endblock content %}